<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

  <description>MVC Configuration</description>

  <!-- 加载配置文件 -->
  <context:property-placeholder location="classpath:cms.properties" />

  <!-- Annotation自动注册 -->
  <context:component-scan base-package="com.cms" use-default-filters="false">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
  </context:component-scan>

  <!-- 注解映射 -->
  <mvc:annotation-driven>
    <mvc:message-converters register-defaults="true">
      <!-- StringHttpMessageConverter默认编码设为UTF-8 -->
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
        <constructor-arg value="UTF-8" />
      </bean>
      <!-- 字节数组处理 -->
      <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
      <!-- 将Fastjson作为默认JSON处理 -->
      <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">
        <property name="supportedMediaTypes">
          <list>
            <value>text/html;charset=UTF-8</value>
            <value>application/json;charset=UTF-8</value>
          </list>
        </property>
        <property name="fastJsonConfig">
          <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
            <property name="serializerFeatures">
              <list>
                <value>WriteMapNullValue</value>
                <value>SortField</value>
                <value>PrettyFormat</value>
                <!-- <value>WriteClassName</value> -->
                <value>DisableCircularReferenceDetect</value>
                <value>WriteDateUseDateFormat</value>
                <value>WriteNonStringValueAsString</value>
              </list>
            </property>
            <property name="dateFormat" value="yyyy-MM-dd HH:mm"></property>
          </bean>
        </property>
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>

  <!-- 静态资源映射 -->
  <mvc:resources mapping="/assest/css/**" location="/assest/css/" cache-period="0" />
  <mvc:resources mapping="/assest/image/**" location="/assest/image/" cache-period="0" />
  <mvc:resources mapping="/assest/js/**" location="/assest/js/" cache-period="0" />
  <mvc:resources mapping="/assest/plugin/**" location="/assest/plugin/" cache-period="31536000" />

  <!-- 默认URL -->
  <mvc:view-controller path="/" view-name="redirect:${web.view.index}" />

  <!-- 开启AOP监听 -->
  <aop:aspectj-autoproxy expose-proxy="true" />
  
  <!-- 跳转默认错误页 -->
  <!-- <mvc:default-servlet-handler /> -->

  <!-- 拦截器配置，拦截顺序：先执行后定义的，排在第一位的最后执行。 -->
  <!-- <mvc:interceptors> -->
  <!-- <mvc:interceptor> -->
  <!-- <mvc:mapping path="/**"/> -->
  <!-- <bean class="com.cms.core.interceptor.ControllerInterceptor" /> -->
  <!-- </mvc:interceptor> -->
  <!-- </mvc:interceptors> -->

  <!-- 全局异常 -->
<!--   <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
  <property name="defaultErrorView" value="/error.html" />
  <property name="exceptionMappings">
  <props>
  <prop key="org.apache.shiro.authz.UnauthorizedException">error/error.html</prop>
  <prop key="java.lang.Exception">error/error.html</prop>
  <prop key="java.lang.RuntimeException">error/error.html</prop>
  </props>
  </property>
  </bean> -->

</beans>